@{
    ViewData["Title"] = "Accessibility";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Accessibility</h1>
        </div>
    </header>
    <section class="access">
        <p>
            Is this your first time visiting the Zoo? No need to worry. <br />Welcome to the Accessibility page where you can find out about some of our facilities and how to move around.

        </p>
        
    </section>

    <div class="function">
        <div class="function-img">
            <img src="~/css/parking.jpg" alt="How It Works" />
        </div>
        <div class="function-item">
            <h1>Parking</h1>
            <p>This platform offers you the opportunity to book private and secure tutoring sessions for whatever subject you need help in. All communication is done through our site as contact details are never shared with tutors. You are given the opportunity to choose whether you would like an onlin or physical tutoring session. All online sessions are secure and all physical sessions would require an adult to accompany the student to ensure safety for both the tutor and student.</p>
        </div>
    </div>
    <div class="function">
        <div class="function-item">
            <h1>Mobile Aid</h1>
            <p>
                This platform offers you the opportunity to book private and secure tutoring sessions for whatever subject you need help in. All communication is done through our site as contact details are never shared with tutors. You are given the opportunity to choose whether you would like an online or physical tutoring session. All online sessions are secure, and all physical sessions would require an adult to accompany the student to ensure safety for both the tutor and student.
            </p>
        </div>
        <div class="function-img">
            <img src="~/css/mobileaid.jpg" alt="How It Works" />
        </div>
    </div>
    <div class="function">
        <div class="function-img">
            <img src="~/css/toilets.png" alt="How It Works" />
        </div>
        <div class="function-item">
            <h1>Toilets</h1>
            <p>This platform offers you the opportunity to book private and secure tutoring sessions for whatever subject you need help in. All communication is done through our site as contact details are never shared with tutors. You are given the opportunity to choose whether you would like an onlin or physical tutoring session. All online sessions are secure and all physical sessions would require an adult to accompany the student to ensure safety for both the tutor and student.</p>
        </div>
    </div>
    <div class="function">
        <div class="function-item">
            <h1>Disabled Access</h1>
            <p>
                This platform offers you the opportunity to book private and secure tutoring sessions for whatever subject you need help in. All communication is done through our site as contact details are never shared with tutors. You are given the opportunity to choose whether you would like an online or physical tutoring session. All online sessions are secure, and all physical sessions would require an adult to accompany the student to ensure safety for both the tutor and student.
            </p>
        </div>
        <div class="function-img">
            <img src="~/css/disabled.jpg" alt="How It Works" />
        </div>
    </div>

    
        
    
    <br />
    <br />
    <br />
    <footer class="border-top footer text-muted">
        <section class="container">

            &copy; 2025 - RigetZooSolution - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </section>
    </footer>
</body>

</html>
