@{
    ViewData["Title"] = "Membership";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <div class="hero-membership">
        <h1>Membership</h1>
    </div>
    
    <section class="info1">
        <br />
        <h2>What is the Membership about?</h2>
        <p>Dive into an opportunity to see various animals and learan things you never did before. No need to wait. Click on the button below and start booking tickets for a zoo visit.</p>

        <br />
        <h2>What do you get with this?</h2>
        <p>Dive into an opportunity to see various animals and learan things you never did before. No need to wait. Click on the button below and start booking tickets for a zoo visit.</p>
    </section>

    <a href="/Membership/Index" class="btn">Become a Member</a>

</body>
</html>