@{
    ViewData["Title"] = "Tickets";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    
    <section class="hero-tickets">
        <h1>Tickets</h1>
    </section>
    <section class="info1">
        <br />
        <h2>Want the ultimate zoo experience?</h2>
        <p>Dive into an opportunity to see various animals and learn things you never did before. No need to wait. Click on the button below and start booking tickets for a zoo visit.</p>
    </section>

    <a href="/Ticket/BookTickets" class="btn">Book a Visit Now</a>

    <div class="gallery">
        <h1>Gallery</h1>
        <div class="game">
            <div class="game-item">
                <img src="~/css/gallery1.jpg" />
            </div>
            <div class="game-item">
               <img src="~/css/gallery2.jpg" />
            </div>
            <div class="game-item">
                <img src="~/css/gallery3.jpg">
        </div>
        <br />
        <div class="game">
            <div class="game-item">
                <img src="~/css/gallery4.jpg" />
                <br />
            </div>
            <div class="game-item">
               <img src="~/css/gallery5.jpg" />
            </div>
            <div class="game-item">
               <img src="~/css/gallery6.jpg">
            </div>
        </div>
    </div>
    </div>
</body>


</html>