@{
    ViewData["Title"] = "Tickets";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    
    <section class="hero-tickets">
        <h1>Tickets</h1>
    </section>
    <section class="info">
        <br />
        <h2>Want the ultimate zoo experience?</h2>
        <p>Dive into an opportunity to see various animals and learan things you never did before. No need to wait. Click on the button below and start booking tickets for a zoo visit.</p>
    </section>

    <a href="/Ticket/BookTickets" class="btn">Book a Visit Now</a>

</body>
</html>