@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Your account has been registered. Kindly Log In Now
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

